
.header{
    background-color: #FF69B4;
    width: auto;
    height: auto;
}
.nav-link{
    color: aliceblue !important; 
}
.nav-link:hover{
    background-color: #F8C8DC;
    color: aliceblue !important;
    font-size: 30px;
}
.pro-pic{
    top: 10px !important;;
    width: 300px;
    height: 400px;
    border-radius: 50%;
    box-shadow:5px 5px 5px 5px #F8C8DC;
}
.font-name{
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Whisper', cursive;
}
.font-des{
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Whisper', cursive;
}
#about-me-greet{
    font-size: 100px;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Whisper', cursive;
}
#about-me-desc{
    text-align:justify;
    text-justify: inter-word;
}
.btn-primary{
    background-color: #FF69B4 !important;
    border: #F8C8DC !important;
}
.sk-title, .my-proj{
    background-color:#FF69B4 ;
    width: auto;
    height: 50px;
    color: aliceblue !important;
    text-align: center;
    padding:5px ;
    border-radius: 10px;
}
.my-list{
    list-style: none;
}
.my-list ::before{
    content:'✓ ';
    color: #FF69B4;
    
}
.my-footer{
    color: black !important;
}

.my-footer :hover{
    background-color: #F8C8DC;
    opacity: 50%;
    color: black !important;
}

#img-size{
    width: 400px;
    height: 300px;
    border: aliceblue;
    box-shadow: 2px 2px 2px 2px #C9A9A6;
}

.col{
    padding-bottom: 30px;
}
